/node_modules
/coverage
/.idea
/test-results/
/playwright-report/
/playwright/.cache/
/src/api/report/*/
/src/api/report/*.html
/src/e2e/artifacts/screenshots/*/
/src/e2e/artifacts/report/
/src/e2e/artifacts/logs/rfslic.log
test.db.config.json
.env