/node_modules
/coverage
/.idea
/test-results/
/playwright-report/
/playwright/.cache/
/src/api/report/*/
/src/api/report/*.html
/src/e2e/artifacts/report/*.html
/src/e2e/artifacts/report/data/*.png
/src/e2e/artifacts/screenshots/*.png